/* Add this code to your CSS file */
.swiper-scrollbar {
  background-color: #555555;
  width: 300px !important;
  overflow-x: auto;
  display: none !important;
  /* margin-top: 100px !important; */
  transform: scale(2) translateX(0);
}

.swiper-scrollbar-drag {
  background-color: #fff;
  width: 40px !important;
}
.swiper-slide:hover {
  cursor: default;
}

@media (min-width: 320px) {
  .swiper-scrollbar {
    width: 400px !important;
    /* transform: scale(2) translateX(30%); */
  }
}
@media (min-width: 641px) {
  .swiper-scrollbar {
    transform: scale(2) translateX(0);
    width: 450px !important;
  }
}
@media (min-width: 1025px) {
  .swiper-scrollbar {
    width: 600px !important;
    transform: scale(2) translateX(70%);
  }
  .swiper-scrollbar-drag {
    background-color: #fff;
    width: 50px !important;
  }
}
